<!DOCTYPE html>
<html lang="en" class="background">
    
    <head>
        <meta charset="UTF-8">
        <title> Home</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">

    </head>

    <body>
        
        <div class="container">
            <div class="row">
              
              <div class="col-sm-8">
                <div class="row justify-content-center align-self-center vertical-center">
                  <h1> Online Cafeteria</h1> 
                </div>
              </div>
              
              <div class="col-sm-4">
                <div class="vertical-center-2">
                  <form id="log-in" class="form-horizontal">
                    <div class="form-group">
                      <!-- name -->
                      <div>
                          <div> <h5> <label class="control-label" for="name"> Name </label> </h5> <br> </div>
                          <div> <input class="form-control input-box" type="text" id="name" autocomplete="off"> <br> </div>
                      </div>
        
                      <br>
        
                      <!-- phone -->
                      <div>
                          <div> <h5> <label class="control-label" for="phone"> Phone </label> </h5> <br> </div>
                          <div> <input class="form-control input-box" type="tel" id="phone" autocomplete="off"> <br> </div>
                      </div>
        
                      <br>
        
                      <!-- submit -->
                      <div>
                          <div> <input class="btn-default submit" type="submit" value="Log in"> <br><br><br><br> </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="https://media3485.blob.core.windows.net/media/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>
        <script src="js/index.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>