<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title> History </title>
    </head>

    <body>
        
        <h3> Your order history: </h3>

        <ul id="cart"> </ul>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="https://media3485.blob.core.windows.net/media/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>
        <script src="js/order_history.js"></script>

        <div> <input type="submit" value="Check order status" onclick="window.location.href ='order_status.html'"> <br><br> </div>
        <div> <input type="submit" value="Place an order" onclick="window.location.href ='place_order.html'"> <br><br> </div>
        <div> <input type="submit" value="View cart" onclick="window.location.href ='cart.html'"> <br><br> </div>
        <div> <input type="submit" value="Log out" onclick="document.cookie = 'name= ;path=/';document.cookie = 'phone= ;path=/';window.location.href ='index.html'"> </div>

    </body>

</html>