<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title> Order </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/place_order.css">
    </head>

    <body>
        <div class="nav-css">
            <nav class="navbar navbar-default navbar-expand-lg">
                <div class="col-sm-11"> <h2> <a href="/" style="text-decoration: none; color:black"> Online Cafeteria </a> </h2> </div>
                <div class="col-sm-1"> <input class="btn-default submit" type="submit" value="Log out" onclick="document.cookie = 'name= ;path=/';document.cookie = 'phone= ;path=/';window.location.href ='index.html'"> </div>
            </nav>
        </div>

        <form id="order">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-center align-self-center vertical-center">
                            <h1> Place an order: </h1>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-left align-self-left vertical-center">
                            
                            <table class="center">
                                
                                <tr>
                                    <td> <br> </td>
                                </tr>

                                <tr>
                                    <td> <img src="img/pizza.png" alt="Pizza"> </td>
                                </tr>
                
                                <tr>
                                    <td> Pizza </td>
                                </tr>

                                <tr>
                                    <td> Price: $12 </td>
                                </tr>

                                <tr>   
                                    <td> Choose quantity: <input type="number" id="pizza" min="0" max="25" step="1" value="0"> </td>
                                </tr>

                                <tr>
                                    <td> <br> </td>
                                </tr>
                
                                <tr>
                                    <td> <img src="img/sushi.jpg" alt="Sushi"> </td>
                                </tr>
                
                                <tr>
                                    <td> Sushi </td>
                                </tr>

                                <tr>
                                    <td> Price: $8 </td>
                                </tr>

                                <tr>
                                    <td> Choose quantity: <input type="number" id="sushi" min="0" max="25" step="1" value="0"> </td>
                                </tr>

                                <tr>
                                    <td> <br> </td>
                                </tr>

                                <tr>
                                    <td> <img src="img/pasta.jpg" alt="Pasta"> </td>
                                </tr>
                                
                                <tr>
                                    <td> Pasta </td>
                                </tr>

                                <tr>
                                    <td> Price: $9 </td>
                                </tr>

                                <tr>
                                    <td> Choose quantity: <input type="number" id="pasta" min="0" max="25" step="1" value="0"> </td>
                                </tr>
                    
                                <tr>
                                    <td> <br> </td>
                                </tr>

                                <tr>
                                    <td> <img src="img/sandwich.jpg" alt="Sandwich"> </td>
                                </tr>
                
                                <tr>
                                    <td> Sandwich </td>
                                </tr>

                                <tr>
                                    <td> Price: $7 </td>
                                </tr>
                                
                                <tr>
                                    <td> Choose quantity: <input type="number" id="sandwich" min="0" max="25" step="1" value="0"> </td>
                                </tr>
                
                                <tr>
                                    <td> <br> </td>
                                </tr>

                                <tr>
                                    <td> <img src="img/soda.jpg" alt="Soda"> </td>
                                </tr>
                
                                <tr>
                                    <td> Soda </td>
                                </tr>

                                <tr>
                                    <td> Price: $1 </td>
                                </tr>

                                <tr>
                                    <td> Choose quantity: <input type="number" id="soda" min="0" max="25" step="1" value="0"> </td>
                                </tr>

                                <tr>
                                    <td> <br> </td>
                                </tr>

                            </table>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-center align-self-center vertical-center">
                            <div> <input class="btn-default submit" type="submit" value="Add to cart"> <br><br> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-center align-self-center vertical-center">
                            <div> <input class="btn-default submit" type="submit" value="Edit order" onclick="window.location.href ='edit_order.html'"> <br><br> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-center align-self-center vertical-center">
                            <div> <input class="btn-default submit" type="submit" value="View cart" onclick="window.location.href ='cart.html'"> <br><br> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-center align-self-center vertical-center">
                            <div> <input class="btn-default submit" type="submit" value="Place an order" onclick="window.location.href ='place_order.html'"> <br><br> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-center align-self-center vertical-center">
                            <div> <input class="btn-default submit" type="submit" value="Check order(s) status" onclick="window.location.href ='order_status.html'"> <br><br> </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row justify-content-center align-self-center vertical-center">
                                <div> <input class="btn-default submit" type="submit" value="View past order(s)" onclick="window.location.href ='order_history.html'"> <br><br> </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="https://media3485.blob.core.windows.net/media/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>
        <script src="js/place_order.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>