<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title> Order </title>
    </head>

    <body>
        
        <h3> Place an order: </h3>

        <!-- <ul id="cart"> </ul> -->

        <!-- Menu -->
        <form id="order"> 
            <table>

                <tr>
                    <td> <img src="img/pizza.png" alt="Pizza"> </td>
                    <td> Pizza </td>
                    <td> $12 </td>
                    <td> Quantitiy <input type="number" id="pizza"> </td>
                </tr>

                <tr>
                    <td> <img src="img/sushi.jpg" alt="Sushi"> </td>
                    <td> Sushi </td>
                    <td> $8 </td>
                    <td> Quantitiy <input type="number" id="sushi"> </td>
                </tr>

                <tr>
                    <td> <img src="img/pasta.jpg" alt="Pasta"> </td>
                    <td> Pasta </td>
                    <td> $9 </td>
                    <td> Quantitiy <input type="number" id="pasta"> </td>
                </tr>
    
                <tr>
                    <td> <img src="img/sandwhich.jpg" alt="Sandwich"> </td>
                    <td> Sandwhich </td>
                    <td> $7 </td>
                    <td> Quantitiy <input type="number" id="sandwhich"> </td>
                </tr>

                <tr>
                    <td> <img src="img/soda.jpg" alt="Soda"> </td>
                    <td> Soda </td>
                    <td> $1 </td>
                    <td> Quantitiy <input type="number" id="soda"> </td>
                </tr>
            </table>

            <div> <input type="submit" value="add to cart"> <br><br><br><br> </div>

        </form>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="https://media3485.blob.core.windows.net/media/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>
        <script src="js/place_order.js"></script>

        <div> <input type="submit" value="Check order status" onclick="window.location.href ='order_status.html'"> <br><br> </div>
        <div> <input type="submit" value="Place an order" onclick="window.location.href ='place_order.html'"> <br><br> </div>
        <div> <input type="submit" value="View cart" onclick="window.location.href ='cart.html'"> </div>

    </body>

</html>