@font-face {
  font-family: myfont;
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
.img-responsive{
  width:100%;
  height:auto;
}
.overlay-effect {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}


body {
  font-family: myfont;
  font-size: 14px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: myfont;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  font-family: myfont;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.heading {
  text-align: center;
  font-weight: 500;
  color: #2E2E2E;
  padding: 40px 0px;
  position: relative;
}
.heading span {
  font-size: 30px;
  color: #ff530a;
  font-weight: 600;
}
.heading:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}

.before-border {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}

nav {
  z-index: 99999;
  width: 100%;
}
nav .block {
  margin-top: -85px;
  background: #fff;
  padding: 25px 40px;
  background: rgba(255, 255, 255, 0.89);
}
nav .block .navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0;
  background: none;

}
nav .block .navbar-default .navbar-brand {
  padding-left: 0px;
}
nav .block .navbar-default .navbar-nav {
  padding-top: 10px;
}
nav .block .navbar-default .navbar-nav > li > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
  font-size: 20px;
  text-transform: uppercase;
}
nav .block .navbar-default .navbar-nav > li > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 0;
}
nav .block .navbar-default .navbar-nav > li > a:hover:before {
  background-color: #e94c3d;
  content: "";
  width: 100%;
}
nav .block .navbar-default .navbar-nav > li.current > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
}
nav .block .navbar-default .navbar-nav > li.current > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 100%;
  background-color: #e94c3d;
}
nav .block .navbar-default .navbar-nav > .active > a,
nav .block .navbar-default .navbar-nav > .active > a:focus,
nav .block .navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
nav .block .navbar-default .navbar-nav > .active > a:before,
nav .block .navbar-default .navbar-nav > .active > a:focus:before,
nav .block .navbar-default .navbar-nav > .active > a:hover:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #FF5333;
}
#about-us {
  padding: 100px 0px;
  background: #F6F6F6;
}
#about-us .block {
  text-align: center;
}
#about-us .block p {
  color: #959595;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 0px;
}

#blog {
  padding-top: 75px;
  padding-bottom: 100px;
  background: url("../images/blog/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#blog:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
#blog .block .heading {
  color: #fff;
}
#blog .block ul {
  padding-top: 40px;
}
#blog .block ul li {
  overflow: hidden;
  width: 50%;
  float: left;
  background: #fff;
  text-align: center;
  color: #959595;
  transform: 1s;
}
#blog .block ul li:hover img {
  transform: scale(1.2) rotate(10deg);
}
#blog .block ul li h3 {
  color: #323232;
  padding: 0px 40px 20px;
  line-height: 26px;
  position: relative;
}
#blog .block ul li h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90px;
  height: 1px;
  background: #CBC4B5;
  margin-left: -45px;
}
#blog .block ul li p {
  padding-top: 25px;
}
#blog .block ul li .blog-img {
  float: left;
  width: 50%;
  height: 100%;
  background: red;
  overflow: hidden;
}
#blog .block ul li .blog-img img {
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
#blog .block ul li .blog-img-2 {
  width: 50%;
  float: right;
  overflow: hidden;
}
#blog .block ul li .blog-img-2 img {
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  width: 100%;
}
#blog .block ul li .content-right {
  padding: 40px 35px 23px;
  font-size: 16px;
  line-height: 26px;
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}
#blog .block ul li .content-right:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: #fff;
  transform: rotate(45deg);
  margin-left: -15px;
}
#blog .block ul li .content-left {
  padding: 40px 35px 23px;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 999;
}
#blog .block ul li .content-left:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  background: #fff;
  transform: rotate(45deg);
}
#blog .block .btn-more-info {
  float: right;
  padding: 28px 102.5px;
  border-radius: 0px;
  background: #ff530a;
  color: #fff;
  border: 1px solid transparent ;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#blog .block .btn-more-info:hover {
  background: transparent;
  color: #ff530a;
  border: 1px solid #ff530a;
}

#price {
  padding: 70px 0px;
}
#price .block > p {
  color: #9D9D9D;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 133px 0;
  text-align: center;
}
#price .block .pricing-list {
  padding-top: 85px;
}
#price .block .pricing-list ul {
  padding: 0 0 30px;
  margin: 0;
}
#price .block .pricing-list ul li {
  padding: 21px 0px;
}
#price .block .pricing-list ul li .item .item-title {
  position: relative;
}
#price .block .pricing-list ul li .item .item-title h2 {
  display: inline-block;
  position: relative;
  z-index: 99;
  background: #fff;
}
#price .block .pricing-list ul li .item .item-title .border-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  border: 1px dotted #C9C9C9;
  margin-top: 20px;
}
#price .block .pricing-list ul li .item .item-title span {
  float: right;
  color: #938463;
}
#price .block .pricing-list ul li .item p {
  padding: 12px 0 0px;
  color: #949494;
}
#price .block .pricing-list .btn {
  padding: 28px 105px;
  border-radius: 0px;
  background: none;
  color: #FF4F02;
  border: 1px solid #FF4F02;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#price .block .pricing-list .btn:hover {
  background: #ff530a;
  color: #fff;
}
#footer {
  padding: 70px 0px;
}
#footer .block h3 {
  color: #2E2E2E;
  padding-bottom: 25px;
}
#footer .block h3 span {
  color: #FF4F02;
}
#footer .block .blog ul,
#footer .block .info ul,
#footer .block .gallary ul {
  padding-top: 20px;
}
#hero-area {
  position: relative;
}
#hero-area:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  nav .block {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }
  nav .block .navbar-brand img {
    padding-left: 25px;
  }

  #blog .block {
    text-align: center;
  }
  #blog .block ul {
    padding-bottom: 40px;
  }
  #blog .block ul li {
    width: 100%;
  }
  #blog .block ul li h3 {
    padding: 0px 0px 30px;
  }
  #blog .block ul li .blog-img {
    width: 50%;
  }
  #blog .block ul li .blog-img img {
    width: 100%;
  }
  #blog .block ul li .blog-img-2 {
    width: 50%;
  }
  #blog .block ul li .blog-img-2 img {
    width: 100%;
  }
  #blog .block ul li .content-left {
    padding: 40px 20px 0;
  }
  #blog .block ul li .content-right {
    padding: 40px 20px 0;
  }
  #blog .block .btn-more-info {
    float: none;
    margin-top: 30px;
  }
  #blog .block .btn-more-info:hover {
    border-radius: 10px;
  }

  #price .block p {
    padding: 30px 0 0;
  }
  #price .block .pricing-list {
    text-align: left;
  }

  #contact-us {
    padding: 60px 0 0;
  }
  #contact-us .block {
    text-align: center;
  }
  #contact-us .block .title {
    text-align: left;
  }
  #contact-us .block a {
    padding: 15px 80px;
    float: inherit;
  }

  #footer .block {
    padding-bottom: 20px;
  }
  #footer .block h3 {
    padding-bottom: 10px;
  }

  #footer-bottom .block .navbar-nav {
    float: inherit;
    width: 70%;
    margin: 0 auto;
  }
  #footer-bottom .block p {
    text-align: center;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 767px) {

  .heading {
    text-align: center;
    font-size: 22px;
  }
  .heading span {
    font-size: 28px;


  nav {
    position: relative;
  }
  nav .block {
    padding: 0px;
    margin-bottom: 0px;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.6), #ffffff);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.6), #ffffff);
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.6), #ffffff);
    background: linear-gradient(right, rgba(255, 255, 255, 0.6), #ffffff);
  }
  nav .block .navbar-brand img {
    padding-left: 10px;
  }
  nav .block .navbar-default {
    margin-top: 10px;
    padding: 3px 0;
  }
  nav .block .navbar-default .navbar-header {
    padding-bottom: 15px;
    margin-top: 0px;
  }
  nav .block .navbar-default .navbar-header .navbar-toggle {
    margin-top: 15px;
    border: none;
  }
  nav .block .navbar-default .navbar-header .navbar-toggle .icon-bar {
    background: #e94c3d;
  }
  nav .block .navbar-default .navbar-header .navbar-toggle:focus {
    background: none;
  }
  nav .block .navbar-default .navbar-header .navbar-toggle:active {
    background: none;
  }
  nav .block .navbar-default .navbar-header .navbar-toggle:hover {
    background: none;
  }

  #about-us {
    padding: 70px 0;
  }
  #about-us .block p {
    padding: 40px 0px 0px;
  }

  #title h2 {
    font-size: 20px;
  }
  #title h2 span {
    font-size: 25px;
  }

  #blog .block ul {
    padding-bottom: 30px;
  }
  #blog .block ul li {
    float: none;
    width: 100%;
    height: 100%;
  }
  #blog .block ul li .blog-img {
    float: none;
    width: 100%;
  }
  #blog .block ul li .blog-img img {
    width: 100%;
  }
  #blog .block ul li .blog-img-2 {
    float: none;
    width: 100%;
  }
  #blog .block ul li .blog-img-2 img {
    width: 100%;
  }
  #blog .block ul li .content-right {
    float: none;
    width: 100%;
    padding: 20px 35px;
  }
  #blog .block ul li .content-right:after {
    display: none;
  }
  #blog .block ul li .content-left {
    float: none;
    width: 100%;
    padding: 20px 35px;
  }
  #blog .block ul li .content-left:after {
    display: none;
  }
  #blog .block .btn-more-info {
    float: none;
    margin-top: 30px;
    padding: 28px 85px;
  }
  #blog .block .btn-more-info:hover {
    border-radius: 10px;
  }

  #price .block p {
    padding: 40px 0px 0px;
  }
  #price .block .pricing-list {
    text-align: left;
  }
  #price .block .pricing-list ul li .item {
    float: none;
  }
  #price .block .pricing-list ul li .item .item-title .border-bottom {
    display: none;
  }
  #price .block .pricing-list ul li .item .item-title span {
    padding-top: 10px;
    display: block;
    float: none;
  }
  #price .block .pricing-list .btn {
    float: inherit;
    padding: 28px 100px;
  }

  #contact-us {
    padding: 60px 0 0;
  }
  #contact-us .block a {
    padding: 20px 80px;
    width: 100%;
    float: inherit;
  }

  #footer .block {
    padding-bottom: 50px;
  }
  #footer .block .info ul li {
    width: 100%;
    margin-right: 0px;
  }
  #footer .block .portfolio img {
    margin-top: 20px;
  }
  #footer .block .portfolio ul li {
    margin-right: 0px;
    display: inline-block;
  }

  #footer-bottom .block .navbar {
    display: none;
  }
  #footer-bottom .block p {
    text-align: center;
    padding-top: 0px;
  }
}
