.input-box {
    width: 75%;
}

.submit {
    font-size: 18px;
}

.nav-css {
    padding-top: 10px;
    padding-bottom: 10px;
}

.aaaa {
    font-size: 1000px;
}

ul {
  white-space: pre;  
}

li {
    text-size-adjust: 150px;
}