.input-box {
    width: 75%;
}

/* Remove controls from Firefox */
input[type=number] {
    -moz-appearance: textfield;
 }
  
/* Re-applies the controls on :hover and :focus */
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

/* table {
    table-layout: fixed;
    margin:40px auto 0px auto;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 500px;
} */

.submit {
    font-size: 18px;
}

.nav-css {
    padding-top: 10px;
    padding-bottom: 10px;
}

.aaaa {
    font-size: 1000px;
}

img {
    width: 400px;
    height: auto;
}

ul {
    white-space: pre;
    padding: 0;
    list-style-type: none;  
    white-space: pre;  
  }

  /* li {
  li {
      color: rgb(255, 239, 213);
      text-shadow: currentColor;
      text-size-adjust: 150px;
  } */

td {
    text-align: left;
    color: rgb(255, 239, 213);
    text-shadow: currentColor;
}

td.list-unstyled {
    color: black;
}
  
  h1 {
      color: rgb(255, 239, 213);
      text-shadow: currentColor;
      background-color: rgb(97, 71, 6);
  }
  
  .nametag {
      color: rgb(255, 239, 213);
      text-shadow: currentColor;
      background-color: rgb(97, 71, 6);
      text-decoration: none;
  }
  
  .control-label {
      color: rgb(255, 239, 213);
      text-shadow: currentColor;
      background-color: rgb(97, 71, 6);
  }
  
  input[class="btn-default submit"] {
      color: black;
      background-color: antiquewhite;
  }

.search-table {
    table-layout: fixed; margin:40px auto 0px auto;
}

.search-table, td, th {
    padding: 15px 0;
}

th {
    padding:20px 7px; font-size:15px;
}

td {
    padding:5px 10px; height:25px;
}

.search-table-outter { 
    overflow-x: scroll; 
}

th, td { 
    min-width: 200px; 
}

.add-review-display {
    display: none;
    padding: 0px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    /*position: fixed;  Stay in place */
    z-index: 1; /* Sit on top */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Full width */
    height: 75%;
    overflow: auto; /* Enable scroll if needed */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: auto; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  /* The Close Button */
  .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 